* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    text-align: center;
}

html {
    background-color: black;
    opacity: 0.9;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h5 {
    font-size: .75rem;
    font-weight: 300;
}


/* navigation */
header {
    height: 3.125rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    vertical-align: center;  
    background-color: black;
}

nav {
    background-color: black;
}

nav img {
    display: inline-block;
    width: auto;
    height: 2.25rem;
    float: left;
    margin-left: 10px;
    align-content: center;
    padding-bottom: .5rem;
}

nav li {
    display: inline-block;
    float: right;
    text-decoration: underline;
    padding: 0 2rem;
    align-items: center;
}

main {
    position: relative;
    top: 3.125rem;
}

/* mission section */

#mission {
    background-image: url(./resources/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 31.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.mission-container {
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: black;
    opacity: 0.9;
}

/* teas */

.tea-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50rem;
}

#tea .card {
    justify-content: center;
    align-items: center;
    max-width: 300px;
    overflow: hidden;
    margin: 0 1rem;
}

#tea .card img {
    width: 100%;
}

/* locations */

#locations {
    background-image: url(./resources/img-locations-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22.75rem;
    padding: 2rem;
}

.locations-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#locations .card {
    width: 300px;
    margin: 0 1rem;
    flex-direction: row;
    flex-wrap: row;
    background-color: black;
    padding: 2rem;
}
/* footer */

footer {
    height: 9rem;
}

footer p {
    font-size: .75rem;
    text-align: left;
    margin: 0 0 1rem 1rem;
    padding-bottom: 1rem;
}